node_modules
/.idea
/.vscode
/tools
/typings
/src
/test
/tsconfig.json
/tslint.json

.npmignore
.editorconfig
circle.yml
jasmine.json
jsconfig.json
karma.conf.js
karma-test-shim.js
tsconfig.build.json
tsconfig.test.json
yarn.lock
*.tgz
npm-debug.*
.DS_Store